.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 52px;
  margin-top: 28px;
}

@media (max-width: 1200px){
  .header{
    padding: 0 48px;
  }
}

@media (max-width: 770px){
  .header{
    padding: 0 24px;
  }
}