.place__link{
  display: block;
  margin-top: 12px;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  opacity: 1;
  transition: opacity .3s ease;
}

.place__link:hover{
  opacity: .8;
}